<div>Login Page</div>
<button class="btn btn-link"  (click)="logMeIn()">Log Me In with Router.Navigate !</button>


<!--<button class="btn btn-link" [routerLink]="'/products'" >Log Me In with RouterLink !</button>-->
