<p>products works!</p>
<table>
  <tr>
    <th>Product Title</th>
    <th>Product Description</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.title}}</td>
    <td>{{product.description}}</td>
  </tr>
</table>
